.hamburger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 22px;
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            }

            /* The three lines */
        .hamburger span {
            display: block;
            height: 4px;
            width: 100%;
            background-color: #333;
            border-radius: 2px;
            transition: all 0.3s ease;
            }

            /* Active state: turn into X */
        .hamburger.active span:nth-child(1) {
            transform: rotate(45deg) translateY(9px);
            }

        .hamburger.active span:nth-child(2) {
            opacity: 0;
            }

        .hamburger.active span:nth-child(3) {
            transform: rotate(-45deg) translateY(-9px);
            }

            .menu {
  display: none; /* hidden by default */
  flex-direction: column;
  position: absolute;
  top: 50px; /* below button */
  right: 20px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 10px;
  z-index: 10;
}

.menu a {
  width: 100%;
  text-align: left;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-radius: 20px;
}

.menu a:hover {
  background: #ff8800;
}

.menu.active {
  display: flex;
}

@media only screen and (min-width: 768px) {
            .hamburger{
                display: none;
            }

            .menu{
                display: none;
            }
        
        }

        @media only screen and (max-width: 768px) {
             nav {
                flex-direction: column;
                gap: 20px;
                padding: 15px;
            }

            nav ul {
                flex-direction: column;
                gap: 10px;
                width: 100%;
            }

            nav ul li a {
                display: block;
                text-align: center;
            } 
            nav ul{
                display: none;
            }
          }